:root{
    --Violet: hsl(257, 40%, 49%);    
    --Soft-Magenta: hsl(300, 69%, 71%);
}
*{
    
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--Violet);
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}
.logo{
    margin-bottom: 3rem;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.title-left{
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.sub-title{
    font-size: 15px;
    color: rgb(224, 223, 223);
    margin-top: 1rem;
    line-height: 25px;
    font-weight: lighter;
}
button{
    margin-top: 1rem;
    color: var(--Violet);
    width: 200px;
    padding: 1rem;
    border-style: none;
    border-radius: 25px;
    box-shadow: rgba(44, 42, 42, 0.658) 0 8px 22px 0px;
    cursor: pointer;
}
button:hover{
    background-color: var(--Soft-Magenta);
    color: rgb(224, 223, 223);
}
.sociel{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    
}
.left img{
    padding: 7px;
    width: 25px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}